@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: white;
}
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animate-spin {
  animation: spin 0.5s linear;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: red;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots {
  bottom: 0.5px;
  display: block !important;
  padding: 10px;
  border-radius: 10px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: gray !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
}

.carousel-item {
  transition: transform 0.5s ease;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet {
  background-color: #ccc;
}

.swiper-pagination-bullet-active {
  background-color: rgb(239, 68, 68);
}

@layer components {
  .fixed-container {
    @apply fixed top-[100px] md:top-[120px] left-0 md:left-[300px] right-0 bg-slate-100  overflow-auto p-4 h-[calc(100vh-100px)] transition-all duration-300;
  }
}

.line-loader {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.line-loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f56565;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.hide-scrollbar {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal-enter {
  opacity: 0;
  transform: scale(1);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.cart-modal-enter {
  transform: translateX(100%);
  opacity: 0;
}

.cart-modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cart-modal-exit {
  transform: translateX(0);
  opacity: 1;
}

.cart-modal-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

